node_modules
.DS_Store
secrets.json
notes.md
src/start-ref.js
src/cute-animals.js
src/hello-world.js
src/hooks.js
src/hooks2.js
src/tests/bio-editor.test.js
src/tests/app.test.js
src/tests/profile-pic.test.js
bundle.js
