* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #b3b3b3;
}

@font-face {
    font-family: "Merkur";
    src: url("/fonts/Merkur.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Neuro";
    src: url("/fonts/neuropolitical.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Earth";
    src: url("/fonts/Earth.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Nulshock";
    src: url("/fonts/Nulshock.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Cubos";
    src: url("/fonts/Cubos.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Prime";
    src: url("/fonts/Prime-Regular.woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Cubos";
    src: url("Cubos.ttf");
    font-weight: bold;
}

/* MAIN GRID */

.container {
    display: grid;
    position: relative;
    grid-template-columns: 150px auto 150px;
    grid-template-rows: 130px auto 50px;
    grid-gap: 1em;
    min-height: 100vh;
    font-family: "Neuro";
}

.container img {
    margin: 0;
}

.container h1 {
    font-family: "Merkur";
    font-size: 10vh;
    color: #ccff00;
    background-color: transparent;
}

.container h2 {
    font-family: "Nulshock";
    /* font-weight: bold; */
    font-size: 23px;
    color: black;
    background-color: transparent;
    margin-top: 10px;
    margin-bottom: 0px;
}

.container p {
    font-family: "Earth";
    font-size: 20px;
    /* font-weight: bold; */
}

.container button {
    border-color: #ccff00;
}
.container button:hover {
    border-color: #0f6ecd;
    color: magenta;
}

header {
    top: 0;
    position: fixed;
    width: 100vw;
    max-height: 130px;
    background-color: rgba(42, 42, 42, 0.8);
    /* Start on Row 1 */
    grid-row: 1;
    /* Start on the first column line and extend all the to the last column line */
    grid-column: 1 / 4;
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: center;
    /* box-shadow: 10px 10px 10px 10px grey; */
    z-index: 5;
    border-bottom: 0;
    overflow: clip;
}

header img {
    opacity: 0.5;
    transition-duration: 1s;
}

header img:hover {
    transform: rotate(180deg);
}

header h1 {
    text-shadow: -0.5px -0.5px 0 #ccff00, 1.5px -1.5px 0 magenta,
        -0.5px 0.5px 0 #ccff00, 1.5px 1.5px 0 magenta;
}

.sidebar-left {
    /* Start on Row 2 */
    grid-row: 2;
    /* Start on the first column line and stop at the next column line */
    grid-column: 1 / 2;
}

#content {
    font-family: "Neuro";
    height: 100%;
    /* Start on Row 2 */
    grid-row: 2;
    /* Start on the second column line and stop at the third column line */
    grid-column: 2 / 3;
    display: grid;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#content h3 {
    font-family: "Neuro";
}

.sidebar-right {
    /* Start on Row 2 */
    grid-row: 2;
    /* Start on the third column line and stop at the last column line */
    grid-column: 3 / 4;
}

footer {
    /* Start on Row 3, the last row */
    grid-row: 3;
    /* Start on the first column line and extend all the to the last column line */
    grid-column: 1 / 4;
    text-align: center;
    background-color: #0f6ecd;
}

/* MAIN GRID */

/* //////////////////////////////////////////////////////////////////////// */

.content-wrapper {
    width: 400px;
    margin: 0 auto;
}

/* WELCOME PAGE */

.welcomeInput {
    width: 400px;
    color: #b3b3b3;
}

.welcome-link {
    position: fixed;
    display: block;
    top: 100px;
    right: 20px;
    z-index: 6;
    background-color: transparent;
    color: #ccff00;
    font-family: "Prime";
}

.welcome-title {
    background-color: #ccff00;
    font-size: 15px;
    /* width: 100%; */
}

.uk-textarea.custom {
    background-color: transparent;
    border-color: #0f6ecd;
    margin-bottom: 20px;
}

.uk-textarea.custom::placeholder {
    color: magenta;
}

/* WELCOME PAGE */

/* //////////////////////////////////////////////////////////////////////// */

/* PROFILE CARD */

.profile-card {
    border: 2px orange solid;
    background-color: rgba(42, 42, 42, 0.2);
    /* border: 2px #ccff00 solid; */
}

#content .profile-card h3 {
    font-family: "Nulshock";
    color: black;
    /* background-color: #ccff00; */
    /* background-color: #0f6ecd; */
}

.profile-card p {
    color: black;
    /* background-color: #ccff00; */
    /* background-color: #0f6ecd; */
}

.profile-card button {
    color: black;
    /* background-color: #ccff00; */
    /* background-color: #0f6ecd; */
}

.uk-child {
    background-color: rgba(42, 42, 42, 0.2);
}

.uk-card-body.custom {
    padding: 20px;
    border: 2px solid #83f52c;
    transition-duration: 0.001s;
    margin: 0px auto 10px;
}

.uk-card-body.custom:hover {
    border: 2px solid #ccff00;
    animation-duration: 0.001s;
    animation-name: soft-shiver;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes soft-shiver {
    from {
        border-color: magenta;
    }

    to {
        border-color: #ccff00;
    }
}

.wall-writing {
    margin-top: 10px;
}

.card-content {
    background-color: rgba(22, 22, 22, 0.2);
}

.uk-card-media-top div {
    background-color: rgba(22, 22, 22, 0.2);
}

.uk-card-media-top img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    z-index: 5;
    border: 2px solid #ccff00;
    margin-bottom: 10px;
    background-color: rgba(42, 42, 42, 0.2);
}

/* div .uk-card-media-top img {
    background-color: rgba(42, 42, 42, 0.8);
} */

.unordered-list {
    padding: 0;
}

.list-element {
    list-style-type: none;
}

.square-profile {
    min-height: 400px;
    margin-bottom: 20px;
}

.link-block {
    display: block;
}

/* PROFILE CARD */

/* APP HEADER */

.app-link {
    font-size: 30px;
    z-index: 6;
    background-color: transparent;
    color: #0f6ecd;
    font-family: "Neuro";
    transition-duration: 1s;
    text-shadow: -1px -1px 0 #ccff00, 0.5px -0.5px 0 magenta,
        -0.5px 0.5px 0 #ccff00, 1px 1px 0 magenta;
}

.app-link:hover {
    animation-duration: 0.17s;
    animation-name: shiver;
    animation-iteration-count: infinite;
    text-decoration: none;
    text-shadow: -15px 0 black, 0 15px black, 15px 0 black, 0 -15px black;
    color: magenta;
    overflow: clip;
}

@keyframes shiver {
    from {
        text-shadow: -35px 0 black, 0 35px black, 35px 0 black, 0 -35px black;
        color: #ccff00;
        left: 100px;
    }

    to {
        text-shadow: 0px 0 black, 0 0px black, 0px 0 black, 0 -0px black;
        font-size: 20px;
    }
    to {
        text-shadow: -185px 0 black, 0 185px black, 185px 0 black,
            0 -185px black;
        color: magenta;
        right: 500px;
    }
    to {
        text-shadow: 0px 0 black, 0 0px black, 0px 0 black, 0 -0px black;
        font-size: 50px;
    }
}

header {
    max-height: 130px;
    overflow: clip;
}

/* CHAT */

.chat-container {
    height: 300px;
    overflow-y: scroll;
}

/* CHAT */
