* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #b3b3b3;
}

/* img {
    z-index: 5;
} */

@font-face {
    font-family: "Merkur";
    src: url("/fonts/Merkur.otf");
    font-style: normal;
    font-weight: normal;
}

h1 {
    font-family: "Merkur";
}

/* MAIN GRID */

.container {
    display: grid;
    grid-template-columns: 150px auto 150px;
    grid-template-rows: 150px auto 100px;
    grid-gap: 1em;
    min-height: 100vh;
}

.container h1 {
    font-family: "Merkur";
    font-size: 10vh;
    color: #ccff00;
    background-color: transparent;
}

header {
    top: 0;
    position: fixed;
    width: 100vw;
    background-color: rgba(42, 42, 42, 0.9);
    /* Start on Row 1 */
    grid-row: 1;
    /* Start on the first column line and extend all the to the last column line */
    grid-column: 1 / 4;
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: center;
    box-shadow: -3px 5px 5px black;
    z-index: 5;
}

.sidebar-left {
    /* Start on Row 2 */
    grid-row: 2;
    /* Start on the first column line and stop at the next column line */
    grid-column: 1 / 2;
}

#content {
    height: 100%;
    /* Start on Row 2 */
    grid-row: 2;
    /* Start on the second column line and stop at the third column line */
    grid-column: 2 / 3;
    display: grid;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.sidebar-right {
    /* Start on Row 2 */
    grid-row: 2;
    /* Start on the third column line and stop at the last column line */
    grid-column: 3 / 4;
}

footer {
    /* Start on Row 3, the last row */
    grid-row: 3;
    /* Start on the first column line and extend all the to the last column line */
    grid-column: 1 / 4;
    text-align: center;
}

/* MAIN GRID */

/* //////////////////////////////////////////////////////////////////////// */

.content-wrapper {
    width: 400px;
    margin: 0 auto;
}

/* WELCOME PAGE */

.welcomeInput {
    width: 400px;
    color: #b3b3b3;
}

.welcome-link {
    position: fixed;
    display: block;
    top: 100px;
    right: 20px;
    z-index: 6;
    background-color: transparent;
    color: #ccff00;
}

/* WELCOME PAGE */

/* //////////////////////////////////////////////////////////////////////// */

/* PROFILE CARD */

.profile-card {
    border: 2px black solid;
}

.uk-card-body.custom {
    padding: 15px 0 0 0;
}

.uk-card-media-top img {
    width: 100%;
    z-index: 5;
}

.unordered-list {
    padding: 0;
}

.list-element {
    list-style-type: none;
}

.square-profile {
    min-height: 400px;
    margin-bottom: 20px;
}

.link-block {
    display: block;
}
